
*{
    text-align:center;

}
.container{
    display: flex;
    justify-content: center;
}

.container button{
    margin:5px;
}

.content{
    padding:5px;
    margin:5px;
    border:2px solid var(--secondary);
    border-radius: 8px;
    font-weight:600;
}
button{
    color:white
}
button a{
    color:white;
}